@font-face {
  font-family: "Inria Serif-Regular";
  src: url("./assets/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inria Serif-Bold";
  src: url("./assets/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif;
}

.font-inria {
  font-family: "Inria Serif-Regular", -apple-system, BlinkMacSystemFont,
    "Apple SD Gothic Neo", "Noto Sans KR", "맑은 고딕", "Malgun Gothic",
    sans-serif;
}

.font-inria-bold {
  font-family: "Inria Serif-Bold", -apple-system, BlinkMacSystemFont,
    "Apple SD Gothic Neo", "Noto Sans KR", "맑은 고딕", "Malgun Gothic",
    sans-serif;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 6s ease-in-out infinite;
  animation-delay: 2s;
}

/* 구름에 hover 효과 추가 */
.cloud-hover {
  transition: transform 0.3s ease;
}

.cloud-hover:hover {
  transform: scale(1.1);
}
